{% extends "website/inc/base.html" %}
{% load staticfiles %}

{% block title %}
<title>Essere &amp; Benessere - Le nostre offerte</title>
{% endblock title %}

{% block description %}
<!--<meta name="description" content="Le nostre offerte">-->
{% endblock description %}

{% block our_offers_active %}
active_menu
{% endblock %}

{% block main_content %}
<div class="page_title_container">
	<div class="title">
		<h1>Offerte rapide</h1>
	</div>
	<div class="description">Sei alla ricerca di <b>sconti e offerte speciali</b>? Trova l'offerta più adatta a te e portaci il codice in negozio per poterne usufruire.<br />Vai nella sezione <a href="/ricevi-offerte/">Ricevi le offerte</a> e registrati subito, potrai ricevere tutto il meglio di Essere &amp; Benessere.</div>
</div>
{% endblock main_content %}
