{% extends "website/inc/base.html" %}
{% load staticfiles %}

{% block title %}
<title>Le nostre offerte</title>
{% endblock title %}

{% block description %}
<meta name="description" content="Le nostre offerte">
{% endblock description %}

{% block our_offers_active %}
active_menu
{% endblock %}

{% block main_content %}
<div class="page_title_container">
	<div class="title">
		<h1>Le nostre offerte</h1>
	</div>
	<div class="description">Lorem ipsum doloret sit amet.Lorem et sit amet.Lorem ipsum doloret et.Lorem ipsum doloret sit amet.<br /><a href="/ricevi-offerte/">Ricevi le offerte</a> per ricevere subito tutto il meglio di Essere &amp; Benessere</div>
</div>
{% endblock main_content %}
