{% load staticfiles %}
<!DOCTYPE html>
	<!--[if IE 7 ]> <html class="no-js ie ie7 lte7 lte8 lte9" lang="en-US"> <![endif]-->
	<!--[if IE 8 ]> <html class="no-js ie ie8 lte8 lte9" lang="en-US"> <![endif]-->
	<!--[if IE 9 ]>	<html class="no-js ie ie9 lte9>" lang="en-US"> <![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="it"> <!--<![endif]-->
	<head>
		{% block head %}
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		{% block title %}
		<title></title>
		{% endblock title %}

		{% block description %}
		<meta name="description" content="">
		{% endblock description %}

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="google-site-verification" content="" />
		<meta name="apple-mobile-web-app-capable" content="yes">

		<!-- favicon -->
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="apple-touch-icon" href="touch-icon-iphone.png" />
		<link rel="apple-touch-icon" href="apple-touch-icon-72×72.png" />
		<link rel="apple-touch-icon" href="apple-touch-icon-114×114.png" />
		<link rel="apple-touch-icon-precomposed" href="touch-icon-iphone-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-72×72-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-114×114-precomposed.png" />

		<!-- CSS common style loading -->
		{% block loaded_css %}
		<link rel="stylesheet" href="{% static "website/css/reset.css" %}" >
		<link rel="stylesheet" href="{% static "website/css/common.css" %}">
		<link rel="stylesheet" href="{% static "website/css/main.css" %}">
		<!--[if lt IE 9]>
			<link rel="stylesheet" type="text/css" href="{% static "website/css/big_css.css" %}" />
		<![endif]-->

		<!-- CSS fix style sheets -->
		<!--[if lt IE 8]>
			<link rel="stylesheet" type="text/css" href="{% static "website/css/big_css.css" %}" />
		<![endif]-->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" >
		{% endblock loaded_css %}

		<!-- javascript loading -->
		{% block loaded_script %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="{% static "website/js/jquery.animate-enhanced.min.js" %}"></script>
		<script src="{% static "website/js/common.js" %}"></script>
		{% endblock loaded_script %}

		<!--[if lt IE 9]>
			<script src="{% static "website/js/html5shiv.js" %}"></script>
		<![endif]-->
		<script src="{% static "website/js/modernizr.custom.73277.js" %}"></script>

		<!-- Google analytics script -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-47707112-2', 'auto');
			ga('send', 'pageview');
		</script>
		{% endblock head %}
	</head>
	<body>
		<header>
			<div class="header page">
				<div class="page_wrapper">
					<div class="logo_container">
						<a href="/">
							<img src="{% static "website/img/logo.png" %}" alt="Essere & Benessere">
						</a>
					</div>
					<div class="toggle_menu_container display_only_mobile">
						<span class="fa-stack fa-lg toggleMenuAction">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-bars fa-stack-1x"></i>
						</span>
					</div>
					<div class="nav_container">
						{% block nav %}
							<nav>
								<ul class="navigation_desktop">
									<li class="{% block about_us_active %}{% endblock %}"><a href="/chi-siamo"><span class="nav_element">Chi siamo</span></a></li>
									<li class="{% block our_services_active %}{% endblock %}"><a href="/i-nostri-servizi"><span class="nav_element">Servizi</span></a></li>
									<li class="{% block pulsed_light_active %}{% endblock %}"><a href="/luce-pulsata"><span class="nav_element">Luce pulsata</span></a></li>
									<li class="{% block dental_whitening_active %}{% endblock %}"><a href="/sbiancamento-dentale"><span class="nav_element">Sbiancamento dentale</span></a></li>
									<li class="{% block contacts_active %}{% endblock %}"><a href="/contatti"><span class="nav_element">Contatti</span></a></li>
									<li class="{% block our_offers_active %}{% endblock %}"><a href="/le-nostre-offerte"><span class="nav_element">Le nostre offerte</span></a></li>
								</ul>
							</nav>
						{% endblock %}
					</div>
				</div>
			</div>
		</header>

		<section>
			{% block content_start %}
				<div class="content page">
					<div class="page_wrapper">
			{% endblock content_start %}
			{% block main_content %}
			{# put main content here #}
			{% endblock main_content %}
			{% block content_end %}
					</div>
				</div>
			{% endblock content_end %}
		</section>

		<footer>
			<div class="footer page">
				<div class="page_wrapper">
					<div class="footer_container">
						<div class="footer_container_wrapper">
							<div class="footer_block font_color1">
								<div>
									<img src="{% static "website/img/footer_separator.png" %}" alt="Essere & Benessere">
								</div>
								<div class="footer_caption">Contatti</div>
								<div class="footer_data_container">
									<div class="image">
										<img src="{% static "website/img/email_image.png" %}" alt="Email">
									</div>
									<div class="data">email@email.com</div>
								</div>
								<div class="footer_data_container">
									<div class="image">
										<img src="{% static "website/img/mobile_image.png" %}" alt="Telefono">
									</div>
									<div class="data">011.985.71.00</div>
								</div>
							</div>
							<div class="footer_block font_color1">
								<div>
									<img src="{% static "website/img/footer_separator.png" %}" alt="Essere & Benessere">
								</div>
								<div class="footer_caption">Contatti</div>
								<div class="footer_data_social">
									<div class="footer_data_social_wrapper">
										<div>
											<a href="#"><img class="hover_opacity" src="{% static "website/img/fb_icon.png" %}" alt="pagina Facebook"></a>
										</div>
										<div>
											<a href="#"><img class="hover_opacity" src="{% static "website/img/google_icon.png" %}" alt="pagina Google+"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="copyright_container font_color1">
						<span>Essere &amp; Benessere, Via Bainotti 2a, Volvera (TO) P.IVA 1111111111 | 2014 Powered By Entpy Software</span>
					</div>
				</div>
			</div>
		</footer>
		{% block custom_page_script %}
		{% endblock custom_page_script %}
	</body>
</html>
