{% extends "website/inc/base.html" %}
{% load staticfiles %}

{% block title %}
<title>Le nostre offerte</title>
{% endblock title %}

{% block description %}
<meta name="description" content="Le nostre offerte">
{% endblock description %}

{% block main_content %}
<div class="page_title_container">
	<div class="title">
		<h1>Le nostre offerte</h1>
	</div>
	<div class="description">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumorem ipsum</div>
</div>
{% endblock main_content %}
