{% extends "website/inc/base.html" %}
{% load staticfiles %}

{% block title %}
<title>Essere &amp; Benessere - Contatti</title>
{% endblock title %}

{% block description %}
<meta name="description" content="Contattaci per avere informazioni sui nostri numerosi trattamenti o seguici sui social">
{% endblock description %}

{% block contacts_active %}
active_menu
{% endblock %}

{% block main_content %}
<div class="page_title_container">
	<div class="title">
		<h1>Contatti</h1>
	</div>
	<div class="description"></div>
</div>
{% endblock main_content %}
