{% extends "website/inc/base.html" %}
{% load staticfiles %}

{% block title %}
<title>Essere &amp; Benessere</title>
{% endblock title %}

{% block description %}
<meta name="description" content="Index page">
{% endblock description %}

{% block loaded_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "website/css/superslides.css" %}" >
{% endblock loaded_css %}

{% block loaded_script %}
{{ block.super }}
<script src="{% static "website/js/jquery.easing.1.3.js" %}"></script>
<script src="{% static "website/js/superslider/jquery.superslides.js" %}"></script>
{% endblock loaded_script %}

{# only for index, removing external page div #}
{% block content_start %}
{% endblock content_start %}

{% block main_content %}
{% endblock main_content %}

{# only for index, removing external page div #}
{% block content_end %}
{% endblock content_end %}

{% block custom_page_script %}
<script src="{% static "website/js/view/index.js" %}"></script>
{% endblock custom_page_script %}
