{% extends "website/inc/base.html" %}
{% load staticfiles %}

{% block title %}
<title>Sbiancamento dentale</title>
{% endblock title %}

{% block description %}
<meta name="description" content="Sbiancamento dentale">
{% endblock description %}

{% block dental_whitening_active %}
active_menu
{% endblock %}

{% block main_content %}
<div class="page_title_container">
	<div class="title">
		<h1>Sbiancamento dentale</h1>
	</div>
	<div class="description"></div>
</div>
{% endblock main_content %}
