{% extends "website/inc/base.html" %}
{% load staticfiles %}

{% block title %}
<title>Ricevi offerte</title>
{% endblock title %}

{% block description %}
<meta name="description" content="Ricevi offerte">
{% endblock description %}

{% block loaded_script %}
{{ block.super }}
<script src="{% static "website/js/form-validator.010.js" %}"></script>
{% endblock loaded_script %}

{% block main_content %}
<div class="page_title_container">
	<div class="title">
		<h1>Ricevi offerte</h1>
	</div>
	<div class="description">Registrati per ricevere le nostre offerte migliori, in tempo reale!</div>
</div>
{% endblock main_content %}
