{% extends "website/inc/base_about_us.html" %}
{% load staticfiles %}
{% block main_content %}
{{ block.super }}
<div class="about_us_page single_page_content">
	<div class="image_text1">
		<div class="image_container">
			<img class="margin_top_40 hover_opacity" src="{% static "website/img/pennelli.png" %}" alt="Chi siamo">
		</div>
		<div class="text_container">
			<div class="text_container_wrapper readable_content">
				<div class="title">
					<h2>Essere &amp; Benessere</h2>
				</div>
				<div class="content text_color_1">
					Essere &amp; Benessere nasce dall’esperienza e professionalità della sua titolare, Luisa Mainero, da tutti conosciuta come donna molto socievole e attenta ai bisogni dei suoi clienti. Il suo staff si ispira molto al modo cordiale e amichevole con cui conduce il rapporto col cliente ed e per questo che <b>Essere &amp; Benessere vanta il privilegio di avere la fiducia delle persone che lo frequentano</b>. Il nostro team possiede le competenze che garantiranno sempre un ottimo risultato per ogni trattamento proposto. 
				</div>
				<div class="title">
					<h2>Perchè scegliere noi?</h2>
				</div>
				<div class="content text_color_1">
					Modelliamo la nostra competenza e la nostra passione in base alle esigenze di ogni cliente, adattando servizi e conoscenze ad ogni singolo caso. Il nostro lavoro è far si che tu esca dal nostro istituto con un sorriso di soddisfazione per il tempo impiegato durante un nostro trattamento. Il nostro cavallo di battaglia è l’onestà, infatti ci proponiamo di consigliarti sempre la cosa più adatta alle tue necessità reali, agendo principalmente sul benessere esteriore e psico-fisico. <b>Da noi potrai trovare un ambiente amichevole e disponibile</b>, ma soprattutto un’oasi in cui rilassarti e distendere i nervi. Perché non prendersi una pausa e godere di un momento per se stessi?
				</div>
			</div>
		</div>
	</div>
	<div class="about_image_container">
		<div class="image1">
			<img class="hover_opacity" src="{% static "website/img/pennello-ciglia.png" %}" alt="Chi siamo">
		</div>
		<div class="image2">
			<img class="hover_opacity" src="{% static "website/img/rossetto.png" %}" alt="Chi siamo">
		</div>
		<div class="image3">
			<img class="hover_opacity" src="{% static "website/img/matite.png" %}" alt="Chi siamo">
		</div>
	</div>
</div>
{% endblock main_content %}
