{% extends "website/inc/base_contacts.html" %}
{% load staticfiles %}
{% block main_content %}
{{ block.super }}
<div class="contacts_page single_page_content">
	<div class="contacts_container_wrapper">
		<div class="left">
			<div class="single_contact_container">
				<div class="top">
					<div class="title">
						<h2>Indirizzo</h2>
					</div>
				</div>
				<div class="bottom">
					<div class="image">
						<img class="hover_opacity" src="{% static "website/img/map.png" %}" alt="Indirizzo">
					</div>
					<div class="content readable_content text_color_2">
						Essere &amp; Benessere<br />Via bainotti 2a, Volvera (TO)
					</div>
				</div>
			</div>
			<div class="single_contact_container time_contact">
				<div class="top">
					<div class="title">
						<h2>Orario</h2>
					</div>
				</div>
				<div class="bottom">
					<div class="image">
						<img class="hover_opacity" src="{% static "website/img/clock.png" %}" alt="Orari">
					</div>
					<div class="content readable_content text_color_2">
						Mar-Ven 9.00-19.00<br />
						Sabato 9.00-18.00<br />
						Domenica e Lunedì chiuso
					</div>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="single_contact_container">
				<div class="top">
					<div class="title">
						<h2>Telefono</h2>
					</div>
				</div>
				<div class="bottom">
					<div class="image">
						<img class="hover_opacity" src="{% static "website/img/phone.png" %}" alt="Telefono">
					</div>
					<div class="content readable_content text_color_2">
						011.985.71.00
					</div>
				</div>
			</div>
			<div class="single_contact_container email_contact">
				<div class="top">
					<div class="title">
						<h2>Email</h2>
					</div>
				</div>
				<div class="bottom">
					<div class="image">
						<img class="hover_opacity" src="{% static "website/img/mail.png" %}" alt="Email">
					</div>
					<div class="content readable_content text_color_2">
						info@esserebenessere.it
					</div>
				</div>
			</div>
			<div class="single_contact_container social_contact">
				<div class="top">
					<div class="title">
						<h2>Social</h2>
					</div>
				</div>
				<div class="bottom">
					<div class="image">
						<img class="hover_opacity" class="margin_right_20" src="{% static "website/img/fb-contacts.png" %}" alt="Pagina Facebook">
						<img class="hover_opacity" src="{% static "website/img/g-contacts.png" %}" alt="Pagina Google+">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="width_100_100 align_center margin_top_80">
	<img class="hover_opacity" src="{% static "website/img/contacts-image.png" %}" alt="Contattaci">
</div>
{% endblock main_content %}
