{% extends "website/inc/base_cookie_policy.html" %}
{% load staticfiles %}
{% block main_content %}
{{ block.super }}
<div class="dental_whitening_page single_page_content">
	<div class="image_text1">
		<div>
			<div class="readable_content">
				<div class="content text_color_2">
					<p>Il Sito (www.esserebenesserebeauty.it) utilizza i Cookie per rendere i propri servizi semplici ed efficienti per l'utenza che visiona le pagine di www.esserebenesserebeauty.it. Gli utenti che visionano il Sito, vedranno inserite delle quantità minime di informazioni nei dispositivi in uso, che siano computer e periferiche mobili, in piccoli file di testo denominati "cookie" salvati nelle directory utilizzate dal browser web dell'Utente. Vi sono vari tipi di cookie, alcuni per rendere più efficace l'uso del Sito, altri per abilitare determinate funzionalità.
					<p>Analizzandoli in maniera particolareggiata i nostri cookie permettono di:<br />
					<ul class="default_ul">
						<li>Memorizzare le preferenze inserite.</li>
						<li>Analizzare l'utilizzo dei servizi e dei contenuti forniti da www.esserebenesserebeauty.it per ottimizzarne l'esperienza di navigazione e i servizi offerti.</li>
					</ul></p><br />

					<h4>Tipologie di Cookie</h4>
					<b>Cookie tecnici</b>
					<p>Questa tipologia di cookie permette il corretto funzionamento di alcune sezioni del Sito. Sono di due categorie, persistenti e di sessione:
					<ul class="default_ul">
						<li>Persistenti: una volta chiuso il browser non vengono distrutti ma rimangono fino ad una data di scadenza preimpostata.</li>
						<li>Di sessione: vengono distrutti ogni volta che il browser viene chiuso.</li>
					</ul><br />
					Questi cookie, inviati sempre dal nostro dominio, sono necessari a visualizzare correttamente il sito e in relazione ai servizi tecnici offerti, verranno quindi sempre utilizzati e inviati, a meno che l'utenza non modifichi le impostazioni nel proprio browser (inficiando così la visualizzazione delle pagine del sito).</p><br />

					<b>Cookie analitici</b>
					<p>I cookie in questa categoria vengono utilizzati per collezionare informazioni sull'uso del sito. www.esserebenesserebeauty.it userà queste informazioni in merito ad analisi statistiche anonime al fine di migliorare l'utilizzo del Sito e per rendere i contenuti più interessanti e attinenti ai desideri dell'utenza. Questa tipologia di cookie raccoglie dati in forma anonima sull'attività dell'utenza e su come è arrivata sul Sito. I cookie analitici sono inviati dal Sito Stesso o da domini di terze parti.</p><br />

					<b>Cookie di analisi di servizi di terze parti</b>
					<p>Questi cookie sono utilizzati al fine di raccogliere informazioni sull'uso del Sito da parte degli utenti in forma anonima quali: pagine visitate, tempo di permanenza, origini del traffico di provenienza, provenienza geografica, età, genere e interessi ai fini di campagne di marketing. Questi cookie sono inviati da domini di terze parti esterni al Sito.</p><br />

					<b>Cookie per integrare prodotti e funzioni di software di terze parti</b>
					<p>Questa tipologia di cookie integra funzionalità sviluppate da terzi all'interno delle pagine del Sito come le icone e le preferenze espresse nei social network al fine di condivisione dei contenuti del sito o per l'uso di servizi software di terze parti (come i software per generare le mappe e ulteriori software che offrono servizi aggiuntivi). Questi cookie sono inviati da domini di terze parti e da siti partner che offrono le loro funzionalità tra le pagine del Sito.</p><br />

					<b>Cookie di profilazione</b>
					<p>Sono quei cookie necessari a creare profili utenti al fine di inviare messaggi pubblicitari in linea con le preferenze manifestate dall'utente all'interno delle pagine del Sito.</p>
					<p>www.esserebenesserebeauty.it, secondo la normativa vigente, non è tenuto a chiedere consenso per i cookie tecnici e di analytics, in quanto necessari a fornire i servizi richiesti.</p>
					<p>Per tutte le altre tipologie di cookie il consenso può essere espresso dall'Utente con una o più di una delle seguenti modalità:
					<ul class="default_ul">
						<li>Mediante specifiche configurazioni del browser utilizzato o dei relativi programmi informatici utilizzati per navigare le pagine che compongono il Sito.</li>
						<li>Mediante modifica delle impostazioni nell'uso dei servizi di terze parti</li>
					</ul>
					Entrambe queste soluzioni potrebbero impedire all'utente di utilizzare o visualizzare parti del Sito.
					</p><br />

					<b>Siti Web e servizi di terze parti</b>
					<p>Il Sito potrebbe contenere collegamenti ad altri siti Web che dispongono di una propria informativa sulla privacy che può essere diversa da quella adottata da www.esserebenesserebeauty.it. Non rispondiamo di questi siti.</p><br />

					<p>Come disabilitare i cookie mediante configurazione del browser:</p>
					<p>Esistono diversi modi per gestire i cookie. Modificando le impostazioni del browser, puoi disabilitare i cookie o decidere di ricevere un messaggio di avviso prima di accettarne uno.</p><br />
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock main_content %}
