{% extends "website/inc/base_dental_whitening.html" %}
{% load staticfiles %}
{% block main_content %}
{{ block.super }}
<div class="dental_whitening_page single_page_content">
	<div class="image_text1">
		<div class="image_container">
			<img src="/static/website/img/sbiancamento-dentale.png" class="margin_top_40 hover_opacity" alt="Sbiancamento dentale">
		</div>
		<div class="text_container">
			<div class="text_container_wrapper readable_content">
				<div class="title">
					<h2>In cosa consiste?</h2>
				</div>
				<div class="content text_color_2">
					Lo sbiancamento dentale in istituto è una pratica che nel mondo estetico esiste da pochi anni. Il fine è quello di ottenere una graduazione della tinta del dente sempre minore. Per far si che ciò avvenga si utilizza un’apparecchiature a luce LED che attiva un ossido posto in un morsino a contatto coi denti. Questa pratica non è assolutamente nociva o aggressiva sullo smalto dentale, per questo motivo la si può ripetere anche ogni 2-3 mesi. I risultati del trattamento sono visibili immediatamente dopo la seduta e lo sbiancamento è assicurato. È particolarmente indicato a chi fuma e chi assume tanti alimenti macchianti come caffè o bevande zuccherine.
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock main_content %}
