{% extends "website/inc/base_get_offers.html" %}
{% load staticfiles %}
{% block main_content %}
{{ block.super }}
<div class="get_offers_page single_page_content">
	<div class="form_container">
		<form class="styled_form" name="get_offers_form" action="{% url 'get_offers' %}" method="POST">
			{% csrf_token %}
			<input type="hidden" name="get_offers_form_sent" value="1">
			<div class="input_container">
				<div class="left">
					<input placeholder="Nome" type="text" name="first_name" value="">
				</div>
				<div class="right">
					<input placeholder="Cognome" type="text" name="last_name" value="">
				</div>
			</div>
			<div class="input_container input_container_margin_top">
				<div class="left">
					<input class="elementToCheck emailCheck mandatoryCheck" placeholder="Email *" type="email" name="email" value="" >
				</div>
				<div class="right">
					<input class="elementToCheck phoneCheck" placeholder="Telefono" type="text" name="phone" value="">
				</div>
			</div>
			<div class="input_container input_container_margin_top birthday_container">
				<div class="center">
					<div class="birthday_fake_input">
						<div class="left">Data di nascita</div>
						<div class="right">
							<select name="date_selector birthday_day">
								<option selected="selected">GG</option>
							</select>
							<select name="date_selector birthday_month">
								<option selected="selected">MM</option>
							</select>
							<select name="date_selector birthday_year">
								<option selected="selected">AAAA</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="disclaimer_container">
				<label for="disclaimer_checkbox">Acconsento al trattamento dei dati personali *</label>
				<input class="elementToCheck mandatoryCheck" id="disclaimer_checkbox" type="checkbox" name="disclaimer" value="1" >
			</div>
			<div class="submit_container">
				<input type="submit" name="submit" value="Registrati">
			</div>
		</form>
	</div>
</div>
{% endblock main_content %}
