{% extends "website/inc/base_index.html" %}
{% load staticfiles %}
{% block main_content %}
<div id="slides" class="widescreen_slider_block" style="float: left;">
	<ul class="slides-container">
		<li>
			<img src="{% static "website/img/slider/surly.jpeg" %}" alt="">
			<div class="container">
				<div class="slider_data_block">
					<div class="title">
						<h2>Essere &amp; Benessere</h2>
					</div>
					<div class="content readable_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus, velit vestibulum</div>
				</div>
			</div>
		</li>
		<li>
			<img src="{% static "website/img/slider/home-banner-01.jpg" %}" alt="">
			<div class="container">
				<div class="slider_data_block">
					<div class="title">
						<h2>Essere &amp; Benessere2</h2>
					</div>
					<div class="content readable_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus, velit vestibulum</div>
				</div>
			</div>
		</li>
		<li>
			<img src="{% static "website/img/slider/cinelli.jpeg" %}" alt="">
			<div class="container">
				<div class="slider_data_block">
					<div class="title">
						<h2>Essere &amp; Benessere3</h2>
					</div>
					<div class="content readable_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus, velit vestibulum</div>
				</div>
			</div>
		</li>
	</ul>
	<nav class="slides-navigation">
		<a href="#" class="next"><i class="fa fa-chevron-right"></i></a>
		<a href="#" class="prev"><i class="fa fa-chevron-left"></i></a>
	</nav>
</div>
{% endblock main_content %}
