{% extends "website/inc/base_our_services.html" %}
{% load staticfiles %}
{% block main_content %}
{{ block.super }}
<div class="our_services_page single_page_content">
	<div class="our_services_structure">
		<div class="left">
			<div class="service_active service_@@1@@ serviceNameAction serviceClickAction">
				<span class="services_name_image_container"><img src="{% static "website/img/essere-benessere-pointer.png" %}" alt="I nostri servizi"></span>
				<span>
					<h2>Massaggi</h2>
				</span>
			</div>
			<div class="serviceNameAction service_@@2@@ serviceClickAction">
				<span class="services_name_image_container"><img src="{% static "website/img/essere-benessere-pointer.png" %}" alt="I nostri servizi"></span>
				<span>
					<h2>Epilazione</h2>
				</span>
			</div>
			<div class="serviceNameAction service_@@3@@ serviceClickAction">
				<span class="services_name_image_container"><img src="{% static "website/img/essere-benessere-pointer.png" %}" alt="I nostri servizi"></span>
				<span>
					<h2>Trattamenti viso</h2>
				</span>
			</div>
			<div class="serviceNameAction service_@@4@@ serviceClickAction">
				<span class="services_name_image_container"><img src="{% static "website/img/essere-benessere-pointer.png" %}" alt="I nostri servizi"></span>
				<span>
					<h2>Make-up</h2>
				</span>
			</div>
			<div class="serviceNameAction service_@@5@@ serviceClickAction">
				<span class="services_name_image_container"><img src="{% static "website/img/essere-benessere-pointer.png" %}" alt="I nostri servizi"></span>
				<span>
					<h2>Corpo</h2>
				</span>
			</div>
			<div class="serviceNameAction service_@@6@@ serviceClickAction">
				<span class="services_name_image_container"><img src="{% static "website/img/essere-benessere-pointer.png" %}" alt="I nostri servizi"></span>
				<span>
					<h2>Apparecchiature</h2>
				</span>
			</div>
		</div>
		<div class="right">
			<div class="service_html_container"></div>
		</div>
	</div>
</div>
<!-- html hidden blocks -->
<div class="hidden">
	{# massaggi {{{ #}
	<div class="html_block_service_1">
		<div class="title">
			<h2>I nostri massaggi</h2>
		</div>
		<div class="description_block_1_container">
			<div class="left readable_content text_color_2">Lasciati coccolare dai nostri massaggi, prova un massaggio connettivale per riattivare la circolazione oppure prova la sensazione avvolgente di un massaggio olistico.<br />Scegli il massaggio più adatto a te.</div>
			<div class="right">
				<a class="fancybox" href="{% static "website/img/our_services/massaggi.jpg" %}">
					<img src="{% static "website/img/our_services/massaggi.jpg" %}" alt="I nostri massaggi">
				</a>
			</div>
		</div>
		<div class="description_block_2_container">
			<div class="title">
				<h2>Decontratturante</h2>
			</div>
			<div class="content text_color_2">
				La funzione del massaggio decontratturante è quella di cercare di riportare il tono muscolare al suo livello normale, sciogliendo la contrattura attraverso pressioni e sfregamenti praticati con le mani nella zona interessata.
			</div>
			<div class="title">
				<h2>G.A.G.</h2>
			</div>
			<div class="content text_color_2">
				Il Massaggio Gambe Addominali Glutei è un massaggio studiato per tonificare e rassodare le zone in questione. Aiuta anche in situazioni di ritenzione idrica e cellulite.
			</div>
			<div class="title">
				<h2>Massaggio estetico</h2>
			</div>
			<div class="content text_color_2">
				Questo massaggio riscalda l’epidermide generando un maggior afflusso di sangue. Sta proprio qui la sua peculiarità: stimolare la circolazione sanguigna e linfatica periferica, migliorando le condizioni dei tessuti e rallentando i processi di invecchiamento.
			</div>
			<div class="title">
				<h2>Massaggio connettivale</h2>
			</div>
			<div class="content text_color_2">
				L'azione del massaggio connettivale crea numerosi effetti benefici. Tra i benefici maggiori si annoverano la riattivazione della circolazione, la decontrazione e il rilassamento dei tessuti; inoltre viene favorita una  maggiore mobilità articolare e uno scollamento del tessuto dal muscolo con il risultato di sciogliere le tensioni.
			</div>
			<div class="title">
				<h2>Linfodrenaggio</h2>
			</div>
			<div class="content text_color_2">
				Grazie al drenaggio linfatico manuale si ottiene un rinnovamento rapido dei tessuti, come pure un effetto duraturo di riduzione del gonfiore. Il massaggio linfodrenante inoltre rappresenta un momento di completo abbandono e di quiete, permettendo il riequilibrio del sistema neurovegetativo ed un rilassamento psicofisico generale. 
			</div>
			<div class="title">
				<h2>Massaggio olistico</h2>
			</div>
			<div class="content text_color_2">
				Il massaggio rilassante ha la funzione di accentuare nell’individuo la capacità di adattarsi e di reagire agli stimoli della vita quotidiana, sempre più frenetica e incombente, preservando la propria stabilità psico-fisico e liberandosi dalle morse della tensione. 
			</div>
			<div class="title">
				<h2>Massaggio californiano</h2>
			</div>
			<div class="content text_color_2">
				Il massaggio californiano è rivolto soprattutto a chi cerca un momento di vero relax, a coloro che hanno voglia di abbandonarsi e ritrovare l’armonia col proprio corpo. Grazie alla sua dolcezza, che risveglia i sensi, questo tipo di massaggio favorisce un rilassamento che giova soprattutto alle persone stressate e sovraffaticate.
			</div>
			<div class="title">
				<h2>Massaggio a 4 mani</h2>
			</div>
			<div class="content text_color_2">
				Il massaggio quattro mani è un trattamento che prevede la doppia manualità armonizzata di due operatori che creano un flusso ritmico rilassante e continuo a tempo di musica, il massaggio a quattro mani amplifica notevolmente l'effetto del massaggio a due mani, creando un'intenso effetto di rilassamento e benessere.
			</div>
		</div>
	</div>
	{# massaggi }}} #}
	{# epilazione {{{ #}
	<div class="html_block_service_2">
		<div class="title">
			<h2>Epilazione</h2>
		</div>
		<div class="description_block_1_container">
			<div class="left readable_content text_color_2">Per epilazione si intende la rimozione totale del pelo alla radice, bulbo compreso e può essere transitoria o permanente.</div>
			<div class="right">
				<a class="fancybox" href="{% static "website/img/our_services/epilazione.jpg" %}">
					<img src="{% static "website/img/our_services/epilazione.jpg" %}" alt="Epilazione">
				</a>
			</div>
		</div>
		<div class="description_block_2_container">
			<div class="title">
				<h2>Ceretta a freddo</h2>
			</div>
			<div class="content text_color_2">
				La ceretta a freddo è una epilazione considerata indubbiamente meno invasiva della ceretta a caldo, soprattutto in presenza di varici e vene varicose, nonché se la pelle è particolarmente sensibile. Inoltre l’ epilazione  a freddo è più veloce e comoda, senza rinunciare alla precisione dello stappo dei peli.
			</div>
			<div class="title">
				<h2>Elettroepilazione</h2>
			</div>
			<div class="content text_color_2">
				L' elettroepilazione consiste nell’introdurre nella cute un ago sottile, rigorosamente monouso, che trasmette leggere scariche elettriche con lo scopo di bruciare il bulbo pilifero. L’elettrocoagulazione distrugge direttamente le cellule della radice del pelo.
			</div>
			<div class="title">
				<h2>Epilazione con luce pulsata</h2>
			</div>
			<div class="content text_color_2">
				Una pratica che sta diventando sempre più utilizzata per la sua rapidità, sicurezza e per la qualità di essere indolore, l’epilazione a luce pulsata è una tecnica non aggressiva che utilizza luce monocromatica ad una determinata frequenza in modo da colpire selettivamente la melanina presente nel bulbo del pelo distruggendolo.
			</div>
		</div>
	</div>
	{# epilazione }}} #}
	{# trattamenti viso {{{ #}
	<div class="html_block_service_3">
		<div class="title">
			<h2>I nostri trattamenti viso</h2>
		</div>
		<div class="description_block_1_container">
			<div class="left readable_content text_color_2">{inserire testo}</div>
			<div class="right">
				<a class="fancybox" href="{% static "website/img/our_services/trattamenti_viso.jpg" %}">
					<img src="{% static "website/img/our_services/trattamenti_viso.jpg" %}" alt="I nostri trattamenti viso">
				</a>
			</div>
		</div>
		<div class="description_block_2_container">
			<div class="title">
				<h2>Pulizia del viso</h2>
			</div>
			<div class="content text_color_2">
				La pulizia del viso è considerata nel campo estetico il trattamento di base e serve a rimuovere dalla superficie cutanea le impurità.
			</div>
			<div class="title">
				<h2>Trattamento idratante viso</h2>
			</div>
			<div class="content text_color_2">
				Una cura idratante per il viso è consigliata per chi ha problemi di pelle spenta e ruvida, che si irrita o si arrossa facilmente.
			</div>
			<div class="title">
				<h2>Trattamento sebo-equilibrante viso</h2>
			</div>
			<div class="content text_color_2">
				Il problema caratteristico dell’età adolescenziale, l’eccessiva secrezione di sebo, può interessare entrambi i sessi e può protrarsi fino ai 25 anni d’età. Grazie a una cura attenta è possibile mantenere la propria pelle sempre perfetta.
			</div>
			<div class="title">
				<h2>Trattamento pelli sensibili viso</h2>
			</div>
			<div class="content text_color_2">
				Una eccessiva sensibilità della pelle può causare stadi più o meno gravi di arrossamenti localizzati su viso, collo e décolleté. Dopo un’attenta valutazione dello stato dell’epidermide andranno stabiliti i trattamenti da effettuare per prevenire ed attuare gli arrossamenti e creare film protettivi che proteggano dagli agenti esterni.
			</div>
			<div class="title">
				<h2>Trattamenti anti-età viso</h2>
			</div>
			<div class="content text_color_2">
				Per nutrire e rivitalizzare le pelli aride e disidratate, la moderna cosmetica offre oggi una vasta gamma di prodotti i cui principi attivi sono in grado di attenuare, ed in parte ritardare, l'invecchiamento cutaneo.
			</div>
		</div>
	</div>
	{# trattamenti viso }}} #}
	{# Make-up {{{ #}
	<div class="html_block_service_4">
		<div class="title">
			<h2>Make-up</h2>
		</div>
		<div class="description_block_1_container">
			<div class="left readable_content text_color_2">La tecnica del make-up correttivo e la scelta di prodotti appropriati, permettono di nascondere le imperfezioni cutanee, correggere i vari tipi di occhi e di addolcire o esaltare i lineamenti del viso.</div>
			<div class="right">
				<a class="fancybox" href="{% static "website/img/our_services/make_up.jpg" %}">
					<img src="{% static "website/img/our_services/make_up.jpg" %}" alt="Make-up">
				</a>
			</div>
		</div>
		<div class="description_block_2_container">
			<div class="title">
				<h2>Trucco giorno/sera</h2>
			</div>
			<div class="content text_color_2">
				Perché facciamo questa distinzione? Perché la percezione del make up cambia moltissimo a seconda delle fonti luminose, ciò determina il fatto che di giorno il trucco rende meglio  se soft  e non troppo marcato mentre la sera si può osare di più.
			</div>
			<div class="title">
				<h2>Trucco sposa</h2>
			</div>
			<div class="content text_color_2">
				Il trucco per la nostra sposa nasce dall’intento di rendere speciale e perfetto un giorno memorabile come quello del vostro matrimonio. Con accurate sedute di prova e studio delle imperfezioni da cancellare totalmente per il grande giorno, siamo certi di creare un’immagine personalizzata e di successo, affinché tu sia al centro assoluto in un giorno tanto importante.
			</div>
			<div class="title">
				<h2>Applicazione ciglia finte</h2>
			</div>
			<div class="content text_color_2">
				Noi donne amiamo prenderci cura della nostra bellezza e durante le serate più chic non potrà certamente mancare un tocco glamour. Volete sfoggiare uno sguardo seducente ed ammaliante? Per ottenerlo è sufficiente affidarvi a noi!
			</div>
			<div class="title">
				<h2>Tinta alle sopracciglia</h2>
			</div>
			<div class="content text_color_2">
				La tintura per sopracciglia ti da la possibilità di mettere in risalto i tuoi occhi senza costringerti a dover necessariamente utilizzare ogni giorno matite e mascara per definirne forma e colore.
			</div>
			<div class="title">
				<h2>Applicazione brillantino al dente</h2>
			</div>
			<div class="content text_color_2">
				Il brillantino viene generalmente applicato su uno dei due incisivi laterali. A differenza dei piercing veri e propri, che hanno un impatto estetico decisamente forte, lo strass sul dente è una decorazione estremamente fine e delicata.
			</div>
			<div class="title">
				<h2>Trucco definitivo semipermanrnte</h2>
			</div>
			<div class="content text_color_2">
				Il desiderio di avere sopracciglia sempre in ordine, un eye liner e contorno labbra perfetto senza perdere ore davanti allo specchio, illuminare lo sguardo o risolvere alcuni inestetismi che ti tormentano, quali vitiligine, alopecia o calvizie trova risposta nel trucco permanente. Il trucco permanente, chiamato anche trucco semipermanente, micropigmentazione, tatuaggio estetico correttivo o dermopigmentazione è una partica a cavallo tra innovazione e tradizione.
			</div>
		</div>
	</div>
	{# Make-up }}} #}
	{# corpo {{{ #}
	<div class="html_block_service_5">
		<div class="title">
			<h2>Trattamenti per il corpo</h2>
		</div>
		<div class="description_block_1_container">
			<div class="left readable_content text_color_2">{inserire il testo}</div>
			<div class="right">
				<a class="fancybox" href="{% static "website/img/our_services/trattamenti_corpo.jpg" %}">
					<img src="{% static "website/img/our_services/trattamenti_corpo.jpg" %}" alt="Trattamenti per il corpo">
				</a>
			</div>
		</div>
		<div class="description_block_2_container">
			<div class="title">
				<h2>Peeling corpo</h2>
			</div>
			<div class="content text_color_2">
				Lo scopo del peeling corpo è quello di eliminare le cellule morte accumulatesi sullo strato superficiale. La nostra pelle, infatti, ogni due mesi circa elimina il suo strato più superficiale, ma lo smog e anche l’età possono avere un effetto ritardante su questo meccanismo, permettendo così alle cellule morte di accumularsi, rendendo la pelle opaca, spessa e talvolta a macchie.
			</div>
			<div class="title">
				<h2>Trattamenti corpo anti-cellulite , anti-adipe e tonificanti</h2>
			</div>
			<div class="content text_color_2">
				Il nostro centro estetico, effettua trattamenti anti-cellulite, trattamenti snellenti, tonificanti e dimagranti realizzati da una proficua combinazione delle tecniche e dei prodotti più all'avanguardia con i trattamenti tradizionali di comprovata efficacia. È il caso ad esempio dei massaggi, che vengono effettuati nel solco di una tradizione millenaria, ma tenendo conto dei più recenti ritrovati della scienza medica e cosmetica in termini di manovre, oltre che di creme e di oli.
			</div>
		</div>
	</div>
	{# corpo }}} #}
	{# apparecchiature {{{ #}
	<div class="html_block_service_6">
		<div class="title">
			<h2>Apparecchiature</h2>
		</div>
		<div class="description_block_1_container">
			<div class="left readable_content text_color_2">{inserire il testo}</div>
		</div>
		<div class="description_block_2_container">
			<div class="title">
				<h2>Presso terapia</h2>
			</div>
			<div class="content text_color_2">
				Molte donne cercano oggi una soluzione efficace ai problemi di ritenzione idrica, o ancora si impegnano nella ricerca di trattamenti che sappiano combattere i problemi di cellulite. Oggi esiste un sistema che permette di affrontare, insieme, tutte queste problematiche, e inoltre di asciugare le zone del corpo trattate con effetti dimagranti, specie in persone gravate da sovrappeso. La soluzione a tutti questi problemi è la cosiddetta pressoterapia, ossia un trattamento medico ed estetico che migliora il funzionamento del sistema circolatorio e del sistema linfaticonella persona che vi si sottopone.
			</div>
		</div>
	</div>
	{# apparecchiature }}} #}
</div>
{% endblock main_content %}
