{% extends "website/inc/base_our_services.html" %}
{% load staticfiles %}
{% block main_content %}
{{ block.super }}
<div class="our_services_page single_page_content">
	<div class="our_services_structure">
		<div class="left">
			<div class="service_active service_@@1@@ serviceNameAction serviceClickAction">
				<span class="services_name_image_container"><img src="{% static "website/img/essere-benessere-pointer.png" %}" alt="I nostri servizi"></span>
				<span>
					<h2>Servizio 1</h2>
				</span>
			</div>
			<div class="serviceNameAction service_@@2@@ serviceClickAction">
				<span class="services_name_image_container"><img src="{% static "website/img/essere-benessere-pointer.png" %}" alt="I nostri servizi"></span>
				<span>
					<h2>Servizio 2</h2>
				</span>
			</div>
			<div class="serviceNameAction service_@@3@@ serviceClickAction">
				<span class="services_name_image_container"><img src="{% static "website/img/essere-benessere-pointer.png" %}" alt="I nostri servizi"></span>
				<span>
					<h2>Servizio 3</h2>
				</span>
			</div>
			<div class="serviceNameAction service_@@4@@ serviceClickAction">
				<span class="services_name_image_container"><img src="{% static "website/img/essere-benessere-pointer.png" %}" alt="I nostri servizi"></span>
				<span>
					<h2>Servizio 4</h2>
				</span>
			</div>
			<div class="serviceNameAction service_@@5@@ serviceClickAction">
				<span class="services_name_image_container"><img src="{% static "website/img/essere-benessere-pointer.png" %}" alt="I nostri servizi"></span>
				<span>
					<h2>Servizio 5</h2>
				</span>
			</div>
		</div>
		<div class="right">
			<div class="service_html_container"></div>
		</div>
	</div>
</div>
<!-- html hidden blocks -->
<div class="hidden">
	<div class="html_block_service_1">
		<div class="title">
			<h2>Massaggi</h2>
		</div>
		<div class="description_block_1_container">
			<div class="left readable_content text_color_2">Lasciati coccolare dai nostri massaggi, prova un massaggio tonificante per donare elasticità alla pelle oppure prova la sensazione avvolgere del massaggio rilassante, eseguito con olio di mandorle. Guarda tutti i massaggi che siamo in grado di farti provare e scegli quello più adatto a te.</div>
			<div class="right">
				<a class="fancybox" href="{% static "website/img/contacts-image.png" %}">
					<img src="http://placekitten.com/g/200/201" alt="I nostri servizi">
				</a>
			</div>
		</div>
		<div class="description_block_2_container">
			<div class="title">
				<h2>Linfodrenaggio</h2>
			</div>
			<div class="content text_color_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula massa, porta vel neque quis, adipiscing fermentum tellus. Nullam fermentum quam id dui gravida euismod.</div>
			<div class="title">
				<h2>Stone massage</h2>
			</div>
			<div class="content text_color_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula massa, porta vel neque quis, adipiscing fermentum tellus. Nullam fermentum quam id dui gravida euismod.</div>
			<div class="title">
				<h2>Linfodrenaggio</h2>
			</div>
			<div class="content text_color_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula massa, porta vel neque quis, adipiscing fermentum tellus. Nullam fermentum quam id dui gravida euismod.</div>
		</div>
	</div>
	<div class="html_block_service_2">
		<div class="title">
			<h2>Epilazione</h2>
		</div>
		<div class="description_block_1_container">
			<div class="left readable_content text_color_2">Lasciati coccolare dai nostri massaggi, prova un massaggio tonificante per donare elasticità alla pelle oppure prova la sensazione avvolgere del massaggio rilassante, eseguito con olio di mandorle. Guarda tutti i massaggi che siamo in grado di farti provare e scegli quello più adatto a te.</div>
			<div class="right">
				<a class="fancybox" href="{% static "website/img/slider/affinity.jpeg" %}">
					<img src="http://placekitten.com/g/207/211" alt="I nostri servizi">
				</a>
			</div>
		</div>
		<div class="description_block_2_container">
			<div class="title">
				<h2>Linfodrenaggio</h2>
			</div>
			<div class="content text_color_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula massa, porta vel neque quis, adipiscing fermentum tellus. Nullam fermentum quam id dui gravida euismod.</div>
		</div>
	</div>
	<div class="html_block_service_3">
		<div class="title">
			<h2>Trattamenti</h2>
		</div>
		<div class="description_block_1_container">
			<div class="left readable_content text_color_2">Lasciati coccolare dai nostri massaggi, prova un massaggio tonificante per donare elasticità alla pelle oppure prova la sensazione avvolgere del massaggio rilassante, eseguito con olio di mandorle. Guarda tutti i massaggi che siamo in grado di farti provare e scegli quello più adatto a te.</div>
			<div class="right">
				<a class="fancybox" href="{% static "website/img/slider/home-banner-01.jpg" %}">
					<img src="http://placekitten.com/g/210/231" alt="I nostri servizi">
				</a>
			</div>
		</div>
		<div class="description_block_2_container">
			<div class="title">
				<h2>Linfodrenaggio</h2>
			</div>
			<div class="content text_color_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula massa, porta vel neque quis, adipiscing fermentum tellus. Nullam fermentum quam id dui gravida euismod.</div>
			<div class="title">
				<h2>Stone massage</h2>
			</div>
			<div class="content text_color_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula massa, porta vel neque quis, adipiscing fermentum tellus. Nullam fermentum quam id dui gravida euismod.</div>
			<div class="title">
				<h2>Linfodrenaggio</h2>
			</div>
			<div class="content text_color_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula massa, porta vel neque quis, adipiscing fermentum tellus. Nullam fermentum quam id dui gravida euismod.</div>
		</div>
	</div>
	<div class="html_block_service_4">
		<div class="title">
			<h2>Servizio 4</h2>
		</div>
		<div class="description_block_1_container">
			<div class="left readable_content text_color_2">Lasciati coccolare dai nostri massaggi, prova un massaggio tonificante per donare elasticità alla pelle oppure prova la sensazione avvolgere del massaggio rilassante, eseguito con olio di mandorle. Guarda tutti i massaggi che siamo in grado di farti provare e scegli quello più adatto a te.</div>
			<div class="right">
				<a class="fancybox" href="{% static "website/img/slider/cinelli.jpeg" %}">
					<img src="http://placekitten.com/g/300/201" alt="I nostri servizi">
				</a>
			</div>
		</div>
		<div class="description_block_2_container">
			<div class="title">
				<h2>Linfodrenaggio</h2>
			</div>
			<div class="content text_color_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula massa, porta vel neque quis, adipiscing fermentum tellus. Nullam fermentum quam id dui gravida euismod.</div>
			<div class="title">
				<h2>Stone massage</h2>
			</div>
			<div class="content text_color_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula massa, porta vel neque quis, adipiscing fermentum tellus. Nullam fermentum quam id dui gravida euismod.</div>
			<div class="title">
				<h2>Linfodrenaggio</h2>
			</div>
			<div class="content text_color_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula massa, porta vel neque quis, adipiscing fermentum tellus. Nullam fermentum quam id dui gravida euismod.</div>
		</div>
	</div>
	<div class="html_block_service_5">
		<div class="title">
			<h2>Servizio 5</h2>
		</div>
		<div class="description_block_1_container">
			<div class="left readable_content text_color_2">Lasciati coccolare dai nostri massaggi, prova un massaggio tonificante per donare elasticità alla pelle oppure prova la sensazione avvolgere del massaggio rilassante, eseguito con olio di mandorle. Guarda tutti i massaggi che siamo in grado di farti provare e scegli quello più adatto a te.</div>
			<div class="right">
				<a class="fancybox" href="{% static "website/img/slider/cinelli-front.jpeg" %}">
					<img src="http://placekitten.com/g/240/301" alt="I nostri servizi">
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock main_content %}
