{% extends "website/inc/base_our_offers.html" %}
{% load staticfiles %}
{% block main_content %}
{{ block.super }}
<div class="our_offers_page single_page_content">
	{% if promotion_list %}
		{% for single_promotion in promotion_list %}
			<!-- single offer container -->
			<div class="single_offer_container">
				<div class="offert_wrapper">
					<div class="image_container display_only_pc">
						<img src="{{ single_promotion.image_url }}" alt="Offerta speciale">
					</div>
					<div class="offert_data_container">
						<div class="offert_name">
							<h2>{{ single_promotion.name }}</h2>
						</div>
						<div class="html_container readable_content">{{ single_promotion.description }}</div>
						<div class="offer_details_container">
							<div class="section_title">Dettagli offerta</div>
							<div class="image_container display_only_mobile">
								<img src="{{ single_promotion.image_relative_path }}" alt="Offerta speciale">
							</div>
							<div class="content">
								<div class="offer_single_details">
									<span class="label">Scade tra:</span>
									<span class="value">{{ single_promotion.expiring_in }}</span>
								</div>
								<div class="offer_single_details">
									<span class="label">Codice</span>
									<span class="value">{{ single_promotion.code }}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- offers separator -->
			<div class="separator">
				<img src="{% static "website/img/separator.png" %}" alt="Essere & Benessere">
			</div>
		{% endfor %}
	{% endif %}
</div>
{% endblock main_content %}
