{% extends "website/inc/base_pulsed_light.html" %}
{% load staticfiles %}
{% block main_content %}
{{ block.super }}
<div class="pulsed_light_page single_page_content">
	<div class="image_text1">
		<div class="text_container">
			<div class="text_container_wrapper readable_content">
				<div class="title">
					<h2>In cosa consiste</h2>
				</div>
				<div class="content text_color_2">
					Per epilazione con luce pulsata si intende l’eliminazione dei peli in modo progressivo e permanente. Una pratica che sta diventando sempre più utilizzata per la sua rapidità, sicurezza e per la qualità di essere indolore, l’epilazione a luce pulsata è una tecnica non aggressiva che utilizza luce monocromatica ad una determinata frequenza in modo da colpire selettivamente la melanina presente nel bulbo del pelo distruggendolo.
				</div>
			</div>
		</div>
		<div class="image_container">
			<img src="/static/website/img/luce-pulsata.png" class="margin_top_40 hover_opacity" alt="Luce pulsata">
		</div>
	</div>
</div>
{% endblock main_content %}
