{% extends "website/inc/base_pulsed_light.html" %}
{% load staticfiles %}
{% block main_content %}
{{ block.super }}
<div class="image_text1">
	<div class="text_container">
		<div class="text_container_wrapper readable_content">
			<div class="title">In cosa consiste</div>
			<div class="content">
				 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus, velit vestibulum commodo facilisis, ligula urna posuere libero, et placerat urna leo quis lectus. Phasellus nec neque ut elit imperdiet imperdiet at a felis. In consequat pharetra arcu. Mauris at tincidunt odio. Nullam molestie egestas eleifend. Phasellus hendrerit non leo et aliquam. Donec eget imperdiet metus. Morbi risus ligula, bibendum ac neque eu, imperdiet pharetra odio. Duis in nisi ipsum. Morbi ultricies vulputate tellus, sit amet mattis leo vulputate eu. Vivamus porta tempus euismod. 
			</div>
		</div>
	</div>
	<div class="image_container">
		<img alt="Luce pulsata" src="/static/website/img/luce-pulsata.png" class="margin_top_40 hover_opacity">
	</div>
</div>
{% endblock main_content %}
