/* medium/large screen style */

/* common element style {{{ */
.page_wrapper { width: 980px; }
/* common element style }}} */

/* header style {{{ */
.page_wrapper > div { float: left; }
.header { height: 4.0625em; }
.navigation_desktop > li { float: left; font-size: 0.75em; padding: 0 0.9375em 0 0.9375em; text-align: center; text-transform: uppercase; }
.logo_container { margin-top: 1.125em; }
.nav_container { margin-left: 3.5em; margin-top: 1.8125em; }
/* header style }}} */

/* footer style {{{ */
.footer .footer_container { float: none; margin: 1.875em auto 0; padding: 1.25em; width: 47em; }
.footer .footer_container .footer_container_wrapper { display: inline-block; }
.footer .footer_container .footer_container_wrapper .footer_block { float: left; margin: 0 2.375em; text-align: center; }
.footer .footer_container .footer_container_wrapper .footer_block > div { clear: both; float: left; width: 100%; }
.footer .footer_container .footer_container_wrapper .footer_block_space { }
.footer .copyright_container { font-size: 0.9em; margin: 4.375em 0 0.625em 0; text-align: center; width: 100%; }
.footer .footer_data_container > div { display: table-cell; vertical-align: middle; }
.footer .footer_block .footer_caption { font-size: 0.83em; font-weight: bold; margin: 0.625em 0 0.8125em 0; text-align: center; text-transform: uppercase; width: 100%; }
.footer .footer_data_container { font-size: 0.9em; margin: 0.8125em 0 0 2.875em; }
.footer .footer_data_container .image { width: 3.125em; }
.footer .footer_data_social_wrapper { display: inline-block; float: none; margin: 0.8125em auto 0; width: auto; }
.footer .footer_data_social_wrapper > div { float: left; margin: 0 0.625em; }
/* footer style }}} */
