/* medium/large screen style */

/* header style {{{ */
.page_wrapper > div { float: left; }
.header { height: 65px; }
.navigation_desktop > li { float: left; font-size: 12px; padding-left: 15px; padding-right: 15px; text-align: center; text-transform: uppercase; }
.logo_container { margin-top: 18px; }
.nav_container { margin-left: 56px; margin-top: 29px; }
/* header style }}} */

/* footer style {{{ */
.footer .footer_container { float: none; margin: 30px auto 0; padding: 20px; width: 47em; }
.footer .footer_container .footer_container_wrapper { display: inline-block; }
.footer .footer_container_wrapper .footer_block { float: left; margin: 0 38px; text-align: center; }
.footer .footer_container_wrapper .footer_block > div { clear: both; float: left; width: 100%; }
.footer .footer_container_wrapper .footer_block_space { }
.footer .copyright_container { font-size: 0.9em; margin-bottom: 10px; margin-top: 70px; text-align: center; width: 100%; }


.footer .footer_data_container > div { display: table-cell; vertical-align: middle; }
.footer .footer_block .footer_caption { font-size: 0.83em; font-weight: bold; margin-bottom: 13px; margin-top: 10px; text-align: center; text-transform: uppercase; width: 100%; }
.footer .footer_data_container { font-size: 0.9em; margin-left: 46px; margin-top: 13px; }
.footer .footer_data_container .image { width: 50px; }
.footer .footer_data_social_wrapper { display: inline-block; float: none; margin: 13px auto 0; width: auto; }
.footer .footer_data_social_wrapper > div { float: left; margin: 0 10px; }
/* footer style }}} */
