/* common element style {{{ */
body { font: normal 100%/1 Helvetica, Arial, sans-serif; }
b, .bold { font-weight: bold; }
html { background-color: #ffdfeb; }
.display_none, .hidden { display: none!important; }
.display_only_mobile, .display_only_pc { display: none; }
.page { float: left; width: 100%; }
.page_wrapper { margin: 0 auto; }
.content .page_wrapper { background-color: #FFD5DB; margin-bottom: 30px; }
.single_page_content { width: 100%; }
.readable_content, .service_html_container > .description_block_2_container > .content { letter-spacing: 0.015em; line-height: 1.51em; }
.margin_top_40 { margin-top: 40px; }
.margin_top_25 { margin-top: 25px; }
.margin_top_78 { margin-top: 78px; }
.margin_top_80 { margin-top: 80px; }
.margin_right_20 { margin-right: 20px; }
.width_100_100 { width: 100%; }
.width_53_100 { width: 53%!important; }
.align_center { text-align: center; }
.text_color_1 { color: #505050; }
.text_color_2 { color: #363636; }
.hover_opacity:hover { 
	opacity: 0.7;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transition-timing-function: cubic-bezier(0.3, -1, 0.7, 2);
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.hover_opacity { 
	opacity: 1;
	transition-timing-function: cubic-bezier(0.3, -1, 0.7, 2);
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
/* common element style }}} */


/* header style {{{ */
.logo_container a { color: transparent; }
/* header style }}} */

/* main content style {{{ */
/* superslides {{{ */
.slides-navigation a { border: 3px solid #FFFFFF; border-radius: 30px; box-shadow: 0 1px 1px #000000; color: transparent; display: block; font-size: 26px; font-weight: bold; height: 40px; margin: 0 25px; padding: 1px; text-align: center; text-decoration: none; text-shadow: 0 1px 1px #000000; top: -40px; transition: background 0.15s ease 0s; width: 40px; }
.slides-navigation a:hover { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4); }
.slides-navigation a i { color: #fff; position: relative; top: 8px; }
.slides-navigation .prev i { right: 1px; }
.slides-navigation .next i { left: 1px; }
.slides-pagination { margin-bottom: 5px; }
.slides-pagination a { color: transparent; }
.widescreen_slider_block { float: left; }

/* slider data blocks */
.widescreen_slider_block .slider_data_block { background-color: white; border: 3px solid red; display: block; padding: 13px 21px 11px 21px; position: relative; top: 3px; left: 20px; width: 300px; }
.widescreen_slider_block .slider_data_block .title { border-bottom: 1px solid red; margin-bottom: 4px; padding: 0 8px 4px 8px; }
.widescreen_slider_block .slider_data_block .content {  }
/* superslides }}} */

h1 { font-size: 30px; }
.page_title_container { display: block!important; margin: 0 auto 20px auto; padding-top: 20px; width: 90%; }
.page_title_container * { color: #00182f; }
.page_title_container .title { border-bottom: 1px solid #BFBFBF; display: inline-block; margin-bottom: 30px; padding: 0 30px 8px; }
.page_title_container .description { letter-spacing: 0.015em; line-height: 1.21em; }

/* contact us page {{{ */
.contacts_page { text-align: center; }
.contacts_page .contacts_container_wrapper > div { float: left; width: 50%; }
.contacts_page .contacts_container_wrapper { background-color: #FFDFEB; border: 1px solid #FFC0CB; margin: 0 auto; width: 75%; border-radius: 5px; display: inline-block; padding: 20px; text-align: left; }
.single_contact_container .top .title { font-size: 19px; font-weight: bold; }
.single_contact_container .bottom { display: inline-block; margin-left: 23px; margin-top: 10px; }
.single_contact_container .bottom > div { float: left; }
.single_contact_container .bottom .image { margin-right: 15px; }
.single_contact_container .bottom .content { margin-top: 13px; }
.single_contact_container.time_contact { margin-top: 78px; }
.single_contact_container.email_contact, .single_contact_container.social_contact { margin-top: 25px; }
/* contact us page }}} */

/* our offers page {{{ */
.our_offers_page { margin-top: 40px; }
.single_offer_container { margin: 0 auto; }
.single_offer_container > div { float: left; }
.single_offer_container > .offert_wrapper { background-color: #cc99ff; border: 4px solid #F6CCD5; border-radius: 4px; padding: 19px; }
.single_offer_container > .offert_wrapper > div { float: left; }
.single_offer_container > .offert_wrapper > .image_container { width: 222px; }
.offert_wrapper .offert_name { font-size: 17px; font-weight: bold; margin-bottom: 16px; text-align: center; }
.offert_wrapper .offert_name { font-size: 17px; font-weight: bold; margin-bottom: 16px; text-align: center; }
.offert_wrapper .html_container { background-color: #F6CCD5; border: 1px solid #FFC0CB; color: #505050; font-size: 14px; padding: 20px; }
.offert_wrapper .html_container:hover { 
	background-color: #FDB9C3;
	box-shadow: 0 0 7px -5px #000000 inset;
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.offert_wrapper .offer_details_container { margin-top: 20px; }
.offert_wrapper .offer_details_container .section_title { border-bottom: 1px solid #1c081c; display: inline-block; font-size: 22px; margin-bottom: 9px; padding: 3px 15px 5px; text-align: center; }
.offer_single_details .label { display: inline-block; font-size: 14px; margin-bottom: 7px; margin-right: 10px; min-width: 110px; text-align: right; }
.offer_single_details .value { font-size: 16px; font-weight: bold; }
.separator { display: inline-block; margin: 50px 0; text-align: center; width: 100%; }
/* our offers page }}} */

/* our services page {{{ */
.our_services_page { width: 100%; }
.our_services_structure { margin: 0 auto; }
.our_services_structure > div { float: left; }
.our_services_structure > .left > div {
	cursor: pointer;
	font-size: 14px;
	padding: 10px 20px;
	transition-timing-function: cubic-bezier(0.3, -1, 0.7, 2);
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.our_services_structure > .left > div:hover { background-color: #cc99ff; }
.our_services_structure > .left > div:active { background-color: #BF7EFF; }
.our_services_structure > .left .service_active { background-color: #cc99ff; }
.our_services_structure > .right { background-color: #cc99ff; padding: 20px; }
.our_services_structure .services_name_image_container { visibility: hidden; }
.our_services_structure .service_active .services_name_image_container, .our_services_structure > .left > div:hover .services_name_image_container {
	visibility: visible;
	transition-timing-function: cubic-bezier(0.3, -1, 0.7, 2);
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.our_services_structure > .left > div .services_name_image_container { margin-right: 5px; vertical-align: text-bottom; }
.service_html_container > .title { font-size: 20px; font-weight: bold; margin-bottom: 30px; text-align: center; }
.service_html_container > .description_block_1_container > div { float: left; }
.service_html_container > .description_block_1_container > .left { margin-right: 15px; }
.service_html_container > .description_block_1_container > .right { text-align: center; }
.service_html_container > .description_block_2_container {
	background-color: #BF7EFF;
	border-radius: 7px;
	display: inline-block;
	margin-top: 20px;
	padding: 20px;
	transition-timing-function: cubic-bezier(0.3, -1, 0.7, 2);
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.service_html_container > .description_block_2_container:hover {
	background-color: #B162FF;
	box-shadow: 0 0 7px -5px #000000 inset;
	transition-timing-function: cubic-bezier(0.3, -1, 0.7, 2);
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.service_html_container > .description_block_2_container > div { float: left; }
.service_html_container > .description_block_2_container > .title { font-size: 15px; font-weight: bold; margin-bottom: 6px; margin-left: 7px; }
.service_html_container > .description_block_2_container > .content { margin-bottom: 20px; }
/* our services page }}} */

/* get offers page {{{ */
.styled_form input { border: 1px solid lightgray; padding: 10px 20px; width: 205px; }
.styled_form > .input_container { display: table; margin: 0 auto; width: 520px; }
.styled_form > .input_container.input_container_margin_top { margin-top: 21px; }
.styled_form > .input_container > div { display: table-cell; width: 50%; }
.styled_form > .input_container > .right { text-align: right; }
.styled_form > .input_container .birthday_fake_input { background-color: white; border: 1px solid lightgray; display: table; line-height: 0; margin: 0 auto; padding: 7px 20px; width: auto; }
.styled_form > .input_container .birthday_fake_input > div { display: table-cell; width: 50%; }
.styled_form > .input_container .birthday_fake_input > .left { color: #757575; width: 40%; }
.styled_form > .input_container .birthday_fake_input > .right { text-align: right; width: 60%; }
.styled_form > .input_container .birthday_fake_input select { background: none repeat scroll 0 0 #ebebeb; border: 1px solid lightgray; padding: 2px 10px; }
.styled_form > .disclaimer_container { margin-top: 70px; text-align: center; }
.styled_form > .disclaimer_container label { font-size: 14px; vertical-align: middle; }
.styled_form > .disclaimer_container input { vertical-align: middle; width: auto; }
.styled_form > .submit_container { margin-top: 10px; text-align: center; }
.styled_form > .submit_container input[type="submit"] { background-color: #1c081c; border: 2px solid #cc99ff; color: white; cursor: pointer; font-size: 17px; }
.styled_form > .submit_container input[type="submit"]:hover { background-color: #420042; }
/* get offers page }}} */

/* main content style }}} */
/* footer style {{{ */
/* footer style }}} */

/* color style {{{ */
.header {
	background-color: #1c081c;
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.header:hover {
	background-color: #420042;
	box-shadow: 0 0 8px 1px #000000;
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.navigation_desktop > li a { color: transparent; text-decoration: none; }
.navigation_desktop .nav_element { 
	color: #fff;
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.navigation_desktop .nav_element:hover { 
	color: #dad; 
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.footer { background-color: #cc99ff; border-top: 3px solid #FFC0CB; box-shadow: 0 0px 4px 0px #000000; }
.footer .footer_container { background-color: #ffdfeb; border: 4px solid #ffc2d0; border-radius: 5px; -moz-border-radius: 5px; }
.font_color1 { color: #1c081c; }
.footer_data_social a { color: transparent; }
.image_text1 .text_container .text_container_wrapper .content {
	background-color: #FFD5DB;
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.image_text1 .text_container .text_container_wrapper .content:hover {
	background-color: #FDB9C3;
	box-shadow: 0 0 7px -5px #000000 inset;
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.image_text1 .text_container .text_container_wrapper { background-color: #FFDFEB; border: 1px solid #FFC0CB; border-radius: 7px; padding: 20px; }
