/* common element style {{{ */
body { font: normal 100%/1 Helvetica, Arial, sans-serif; }
b, .bold { font-weight: bold; }
html { background-color: #ffdfeb; }
.display_none { display: none; }
.page { float: left; width: 100%; }
.page_wrapper { margin: 0 auto; }
.readable_content { letter-spacing: 0.015em; line-height: 1.31em; }
.margin_top_40 { margin-top: 40px; }
.margin_top_25 { margin-top: 25px; }
.margin_top_78 { margin-top: 78px; }
.margin_top_80 { margin-top: 80px; }
.margin_right_20 { margin-right: 20px; }
.width_100_100 { width: 100%; }
.width_53_100 { width: 53%!important; }
.align_center { text-align: center; }
.hover_opacity:hover { opacity: 0.7; }
/* common element style }}} */


/* header style {{{ */
.logo_container a { color: transparent; }
/* header style }}} */

/* main content style {{{ */
/* superslides {{{ */
.slides-navigation a { border: 3px solid #FFFFFF; border-radius: 30px; box-shadow: 0 1px 1px #000000; color: transparent; display: block; font-size: 26px; font-weight: bold; height: 40px; margin: 0 25px; padding: 1px; text-align: center; text-decoration: none; text-shadow: 0 1px 1px #000000; top: -40px; transition: background 0.15s ease 0s; width: 40px; }
.slides-navigation a:hover { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4); }
.slides-navigation a i { color: #fff; position: relative; top: 8px; }
.slides-navigation .prev i { right: 1px; }
.slides-navigation .next i { left: 1px; }
.slides-pagination { margin-bottom: 5px; }
.slides-pagination a { color: transparent; }
.widescreen_slider_block { float: left; }
/* superslides }}} */

h1 { font-size: 30px; }
.page_title_container { margin: 40px 0 20px; }
.page_title_container * { color: #00182f; }
.page_title_container .title { border-bottom: 1px solid #BFBFBF; display: inline-block; margin-bottom: 30px; margin-left: 50px; padding: 0 30px 8px; }
.page_title_container .description { letter-spacing: 0.015em; line-height: 1.21em; }

.contacts_container { width: 100%; }
.contacts_container .contacts_container_wrapper { margin: 0 auto; width: 75%; }
.contacts_container .contacts_container_wrapper > div { float: left; width: 50%; }

.single_contact_container .top .title { font-size: 19px; font-weight: bold; }
.single_contact_container .bottom { display: inline-block; margin-left: 23px; margin-top: 10px; }
.single_contact_container .bottom > div { float: left; }
.single_contact_container .bottom .image { margin-right: 15px; }
.single_contact_container .bottom .content { margin-top: 13px; }

.offers_container { margin-top: 40px; width: 100%; }
.single_offer_container { margin: 0 auto; width: 770px; }
.single_offer_container > div { float: left; }
.single_offer_container > .offert_wrapper { background-color: #FFD5DB; border: 4px solid #F6CCD5; padding: 19px; }
.single_offer_container > .offert_wrapper > div { float: left; }
.single_offer_container > .offert_wrapper > .image_container { width: 222px; }
.single_offer_container > .offert_wrapper > .offert_data_container { width: 500px; }
.offert_wrapper .offert_name { font-size: 17px; font-weight: bold; margin-bottom: 16px; text-align: center; }
.offert_wrapper .offert_name { font-size: 17px; font-weight: bold; margin-bottom: 16px; text-align: center; }
.offert_wrapper .html_container { background-color: #F6CCD5; color: #505050; font-size: 14px; padding: 20px; }
.offert_wrapper .offer_details_container { margin-top: 20px; }
.offert_wrapper .offer_details_container .section_title { border-bottom: 1px solid #BFBFBF; display: inline-block; font-size: 22px; margin-bottom: 9px; padding: 3px 15px; text-align: center; }
.offer_single_details .label { display: inline-block; font-size: 14px; margin-bottom: 7px; margin-right: 10px; min-width: 110px; text-align: right; }
.offer_single_details .value { font-size: 16px; font-weight: bold; }
.separator { display: inline-block; margin: 50px 0; text-align: center; width: 100%; }
/* footer style {{{ */
/* footer style }}} */

/* color style {{{ */
.html {  }
.header { background-color: #1c081c; }
.navigation_desktop > li a { color: transparent; text-decoration: none; }
.navigation_desktop .nav_element { color: #fff; }
.navigation_desktop .nav_element:hover { color: #dad; }
.footer { background-color: #cc99ff; }
.footer .footer_container { background-color: #ffdfeb; border: 4px solid #ffc2d0; border-radius: 5px; -moz-border-radius: 5px; }
.font_color1 { color: #1c081c; }
.footer_data_social a { color: transparent; }
