/* medium/large screen style */

/* common element style {{{ */
.page_wrapper { width: 100%; }
/* common element style }}} */

/* header style {{{ */
.header { height: auto; position: relative; }
.header .page_wrapper > div { text-align: center; width: 100%; }
.header .page_wrapper > .logo_container { margin-top: 10px; }
.nav_container { margin: 0px; }
.nav_container ul { display: inline-block; }
/* header style }}} */

/* main content style {{{ */
.widescreen_slider_block { margin-top: 0px; }

/* our services page {{{ */
.our_services_structure { display: table; width: 90%; }
.our_services_structure .services_name_image_container { display: none; }
.our_services_structure > div { display: table-cell; float: none; vertical-align: top; }
.our_services_structure > .left { width: 25%; }
.our_services_structure > .right { width: 75%; }
.service_html_container > .description_block_1_container { display: table; }
.service_html_container > .description_block_1_container > div { display: table-cell; float: none; vertical-align: top; }
.service_html_container > .description_block_1_container > .left { margin-right: 1%; width: 39%; }
.service_html_container > .description_block_1_container > .right { width: 39%; }
/* our services page }}} */

/* offers page {{{ */
.single_offer_container  { width: 95%; }
.single_offer_container > .offert_wrapper { box-sizing: border-box; display: inline-block; margin: 0 auto; width: 100%; }
.single_offer_container > .offert_wrapper > .image_container { text-align: center; width: 30%; }
.single_offer_container > .offert_wrapper > .image_container img { max-width: 160px; }
.single_offer_container > .offert_wrapper > .offert_data_container { width: 70%; }
.separator img { max-width: 600px; width: 75%; }
/* offers page }}} */
/* main content style }}} */

/* footer style {{{ */
.footer .footer_container { width: 80%; padding: 10px; }
.footer .footer_container .footer_container_wrapper { display: inline-block; width: 100%; }
.footer .footer_container .footer_container_wrapper .footer_block { float: left; margin: auto; width: 50%; }
/* footer style }}} */
