/* medium/large screen style */

/* common element style {{{ */
/* common element style }}} */

/* header style {{{ */
.header .page_wrapper .logo_container { margin-left: 10px; text-align: left; width: 80%; }
.navigation_desktop > li {
	float: none;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
/* header style }}} */

/* main content style {{{ */
/* our services page {{{ */

/* our services page }}} */

/* offers page {{{ */
/* offers page }}} */
/* main content style }}} */

/* footer style {{{ */
/* footer style }}} */
